@media (max-width: 575.98px) {
  body {
    background-color: #52057b;
  }
  i {
    font-size: 22px;
  }
  .show {
    display: block;
    transition: 0.5s;
    animation: fade 0.5s ease 1;
  }
  .hide {
    display: none;
    transition: 0.5s;
    animation: fade 0.5s ease 1;
  }
  .container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #f2f2fe;
  }
  .navbar-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-logo a p {
    margin: 0;
    color: #212121;
  }
  .icon-group a {
    margin: 0 5px;
  }
  .icon-group a i {
    color: #212121;
  }
  .form-search i {
    margin: 0 5px;
  }
  .input-search{
    position: absolute;
    top: 65px;
    left: 55%;
    border: 1px solid #828282;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .btn-menu,
  .btn-hide {
    width: 20px;
    color: #212121;
    border: none;
    background-color: transparent;
    margin: 0 5px;
  }
  .btn-hide {
    display: none;
  }
  .nav-items {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    transition: 0.5s;
  }
  .dropdown-title {
    border-bottom: 1px solid #828282;
  }
  .dropdown-title p {
    padding: 15px 0;
  }
  .dropdown-custom ul {
    list-style: none;
    padding: 0;
    margin: 0;
    transition: 0.5s;
    border-bottom: 1px solid #828282;
  }
  .dropdown-custom ul li {
    font-size: 12px;
    line-height: 20px;
    padding: 10px 0;
    margin-bottom: 2px;
    color: #828282;
  }
  .navbar-location {
    display: flex;
    align-items: center;
    padding: 15px 0;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}
@media (min-width: 992px) {
  nav {
    position: fixed;
    width: 100%;
    transition: 0.5s;
    z-index: 90000;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 7%);
  }

  .top-nav {
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .top-nav .group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .top-nav .group .top-nav-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color: #fff;
    text-decoration: none;
  }

  .logo-brand {
    width: 35px;
    height: 35px;
  }
  .navbar-logo-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    margin: 0;
    color: #212121;
  }
  .navbar-location {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    color: #212121;
  }
  .input-search {
    width: 548px;
    padding: 8px 16px;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
  }
  .dropdown-menu {
    border: 1px solid #52057b;
    margin-top: 5px !important;
  }
  .dropdown-item {
    color: #52057b;
  }
  .dropdown-item:hover {
    background-color: #52057b;
    color: #fff;
  }
  .icon-group {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    column-gap: 1rem;
  }
  .icon-group i::before,
  .icon-group i {
    width: 24px !important;
    height: 24px !important;
    color: #828282;
  }
  .users {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
  }
  .bottom-nav {
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }
}

