@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("navigation.css");
@import url("hero-style.css");
@import url("bils-style.css");
@import url("categories-style.css");
@import url("flash-sale-style.css");
@import url("loaders-style.css");
@import url("card-price-style.css");

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

.text-box {
  font-size: 14px;
  text-align: center;
  padding: 6px 8px;
  border-radius: 4px;
  color: #52057b;
  background-color: rgba(82, 5, 123, 0.1);
}

.paragraph-1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  margin: 0;
}
.paragraph-2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  margin: 0;
}
.p-mini {
  font-size: 12px;
  line-height: 14.52px;
}
.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.display-align-center {
  display: flex;
  align-items: center;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}
@media (min-width: 992px) {
  .container {
    margin: 0 40px !important;
  }
  .container-fluid {
    padding: 12px 40px;
  }
  .container-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    background-color: #fff;
  }
  .btn-purple {
    background-color: #fff;
    border: 1px solid #52057b;
    color: #52057b;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
  }
  .btn-purple:hover {
    color: #fff;
    background-color: #52057b;
    border: 1px solid #fff;
  }
  .link {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #212529;
    transition: 0.5s;
  }
  .link:hover {
    color: #828282;
  }
  .text-purple {
    color: #828282;
  }
  .text-purple:hover {
    color: #52057b;
  }
  .logos {
    width: 25px;
    height: 25px;
  }
  .logo-category {
    background-color: #ebebeb;
    padding: 24px;
    border-radius: 100%;
  }
  .a-link {
    text-decoration: none;
    cursor: pointer;
  }
  .hide {
    display: none;
    transition: 0.5s;
  }
  .btn-more-payment {
    transition: 0.5s;
  }
  .fade-animation {
    animation: fade 2s ease;
  }
  .row-new-features {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .card-features {
    width: 230px;
    padding: 16px 24px;
    border-radius: 8px;
  }
  .vectors {
    padding: 8px 11px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.25);
  }
  .card-news {
    width: 294px;
    padding: 16px 24px;
    border-radius: 8px;
  }
  .rectangle {
    width: 8px;
    height: 50px;
  }
  .first-image img,
  .last-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
